<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>elEvenTen </title>
  <link rel="stylesheet" href="../tstyle.css"> 
  
</head>
<body>
<div class="flex justify-center p-12 text-red-800">FACTURA PROFORMA nr. {{nrfact}}</div>

   
</body>
</html>