<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>elEvenTen </title>
  <link rel="stylesheet" href="../tstyle.css"> 
  
</head>
<body class="bg-gray-100 m-6">

  @containers.print({ as: 'main' })

  <div class="mb-12 font-mono">
    <div class="float-right mb-2">
      <div class="pt-2 w-28">
        <img src="../sigla2.png" alt="" />
      </div>
    </div>
 
    <h3 class="font-bold">SC Lucky Smart Systems SRL</h3>
    <address>
      CUI:RO24688650<br/>
      Cont Banca Transilvania<br/>
      RO81BTRLRONCRT0200299901<br/>
      Str. G-ral Toma Ghenea nr. 16E, Pitesti, Arges, ROMANIA
    </address>
    <p class="text-sm">eleventen.ro</p>
  </div>

  <div class=" w-full flex justify-end mb-6">
    <div class="flex flex-col">
      <h3 class="font-bold">CLIENT:</h3>
      <h3 class="font-bold">{{numeclient}}</h3>
      <address>
        CUI:{{cuiclient}}<br/>
        {{adresaclient}}
      </address>
    </div>

  </div>

    <div class="mb-12 bg-gray-300">
      <h1 class="text-xl font-serif text-center">
        Factura {{tip}} nr. {{nrfact}} din {{data}}
      </h1>
      @if (recipient)
        <h5 class="font-mono text-gray-600">
          Generated for:  recipient.name 
        </h5>
     
      <h5 class="font-mono text-gray-600">
        Sent by:  user.email 
      </h5>
      @endif
    </div>


<div class="w-full font-mono text-right">-lei</div>
    <table class="w-full mb-12 font-mono">
      <tr class="bg-gray-200 p-2">
        <td class="font-bold p-2">Descriere</td>
        <td class="font-bold p-2">Cantitate</td>
        <td class="font-bold text-right p-2">Pret</td>
        <td class="font-bold text-right">Valoare</td>
      </tr>
      <tr class="p-2">
        <td class="p-2">{{detalii}}</td>
        <td class="text-center">1</td>
        <td class="text-right">{{suma}} </td>
        <td class="text-right">{{suma}} </td>
      </tr>

    </table>

    <dl class="flex flex-col items-end font-mono">
      <div class="inline-grid grid-cols-2 justify-end">
        <dt class="font-bold">Subtotal</dt>
        <dd class="w-28 text-right">{{suma}}</dd>
      </div>
      <div class="inline-grid grid-cols-2 justify-end">
        <dt class="font-bold">TVA</dt>
        <dd class="w-28 text-right">0</dd>
      </div>
      <div class="inline-grid grid-cols-2 justify-end">
        <dt class="font-bold">Total</dt>
        <dd class="w-28 text-right font-bold">{{suma}}</dd>
      </div>
    </dl>
    <div class="mt-12 text-xs">
         <p>Intocmit de Brindusescu RoseMary</p>
         <p>CNP: 2750316035011</p>
         <p>Factura circula fara semnatura si stampila conform Legii 227/2015 privind Codul Fiscal</p>
    </div>
  @end

</body>
</html>