
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chestionar satisfactie pacienti</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="columns is-centered">
        <div class="column ">
            <div class="notification is-info">
               <p>În vederea aprecierii îngrijirilor medicale pe care le-ați primit în <strong>{{clinica.denumire}}</strong> și a creșterii calității acestora, vă rugăm să aveți amabilitatea de a răspunde întrebărilor din chestionarul de mai jos și de a-l remite unității noastre.
                Răspundeți la întrebări bifând varianta care descrie cel mai bine situația dumneavoastră.</p> 
                <p>Colectarea și prelucrarea datelor se face cu respectarea prevederilor GDPR (Regulamentul General privind Protecția Datelor) 679/2016 și în conformitate cu Ordinul 35/2018 al ANMCS.</p> 
                <strong>Acest chestionar este ANONIM.</strong>
               
            </div>
            <div class="box is-centered">
                <form action="/prelucraresatisfactie" method="POST">
                  {{ csrfField() }}
                  <div class="field has-addon">
                    <label for="impresii" class="label">Când ați intrat prima dată în această unitate ce impresie v-ați făcut?</label>
                        <div class="select is-info">
                            <select name="impresie" id="impresii">
                               
                                <option value="curatenie"> Curățenie </option>
                                <option value="lux"> Lux </option>
                                <option value="dezordine"> Dezordine </option>
                                <option value="aglomeratie"> Aglomerație </option>
                                <option value="mizerie"> Mizerie </option>
                                <option value="disciplina"> Disciplină </option>
                                <option value="liniste"> Liniște </option>
                             
                         
                            </select>
                        </div>
                </div>

                <div class="field has-addon">
                  <label class="label">În ce secție ați fost internat?</label>
                  <div class="control is-expanded">
                      <input type="text" name="sectie" class="input" placeholder="Sectie">
                  </div>
                </div>

                <div class="field has-addon">
                  <label class="label">Sunteți la prima internare?</label>
                  <div class="control is-expanded">
                    <label class="radio">
                      <input type="radio" name="primainternare" value="Prima internare" checked>
                      Prima internare
                    </label>
                    <label class="radio">
                      <input type="radio" name="primainternare" value="Reinternare">
                      Reinternare
                    </label>
                  </div>
                </div>


                <div class="field has-addon">
                  <label class="label">În perioada cât ați stat în spital, v-au fost aduse la cunoștință drepturile dumneavoastră?</label>
                  <div class="control is-expanded">
                    <label class="radio">
                      <input type="radio" name="cunostintadrepturi" value="DA" checked>
                      DA
                    </label>
                    <label class="radio">
                    <input type="radio" name="cunostintadrepturi" value="NU">
                      NU
                    </label>
                  </div>
                </div>

                <div class="field has-addon">
                  <label class="label">Considerați că v-au fost respectate drepturile dvs ca pacient?</label>
                  <div class="control is-expanded">
                    <label class="radio">
                      <input type="radio" name="respectaredrepturi" value="DA" checked>
                      DA
                    </label>
                    <label class="radio">
                    <input type="radio" name="respectaredrepturi" value="NU">
                      NU
                    </label>
                  </div>
                </div>

                <div class="field">
                  <label  class="label">Dacă ați răspuns cu NU la întrebarea precedentă, vă rugăm să motivați:</label>
                  <div class="control">
                      <textarea name="motivaredrepturi" class="textarea" placeholder="Scurt mesaj (max. 255 caractere)"></textarea>
                  </div>
              </div>

              <div class="field has-addon">
                <label class="label">La internare ați fost informat cu privire la regulile secției și responsabilitățile dvs ca pacient?</label>
                <div class="control is-expanded">
                  <label class="radio">
                    <input type="radio" name="informarereguli" value="DA" checked>
                    DA
                  </label>
                  <label class="radio">
                  <input type="radio" name="informarereguli" value="NU">
                    NU
                  </label>
                </div>
              </div>

              <div class="field has-addon">
                <label class="label">La internare, ați fost însoțit pe secție de:</label>
                <div class="control is-expanded">
                  <label class="radio">
                    <input type="radio" name="insotitor" value="Personal sanitar" checked>
                    Personal sanitar
                  </label>
                  <label class="radio">
                  <input type="radio" name="insotitor"  value="Apartinator">
                     Aparținător
                  </label>
                  <label class="radio">
                    <input type="radio" name="insotitor" value="Ati mers singur">
                    Ați mers singur
                  </label>
                  <label class="radio">
                  <input type="radio" name="insotitor" value="Nu stiu">
                    Nu știu
                  </label>
                </div>
              </div>

              <label class="label mb-2">Vă rugăm să acordați calificative pentru următoarele servicii:</label>
              
              <div class="columns mt-2" style="border-width:2px;border-style:solid;border-color:black;">
                <div class="column">
                  Calitatea condițiilor hoteliere (salon, dotare, mobilier, lenjerie, efecte spital, facilități, temperatură)
                </div>
                <div class="column">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" name="calitateconditii" value="Foarte bine" checked>
                      Foarte bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="calitateconditii" value="Bine">
                      Bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="calitateconditii" value="Nesatisfacator">
                      Nesatisfăcător
                    </label>
                  </div>
                </div>
                
              </div>
              <div class="columns " style="border-width:2px;border-style:solid;border-color:black;">
                <div class="column">
                  Curățenie
                </div>
                <div class="column">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" name="curatenie" value="Foarte bine" checked>
                      Foarte bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="curatenie" value="Bine">
                      Bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="curatenie" value="Nesatisfacator">
                      Nesatisfăcător
                    </label>
                  </div>
                </div>
                
              </div>
              <div class="columns " style="border-width:2px;border-style:solid;border-color:black;">
                <div class="column">
                  Atitudinea personalului de la CPU
                </div>
                <div class="column">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" name="atitudinecpu" value="Foarte bine" checked>
                      Foarte bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="atitudinecpu" value="Bine">
                      Bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="atitudinecpu" value="Nesatisfacator">
                      Nesatisfăcător
                    </label>
                  </div>
                </div>
                
              </div>
              <div class="columns " style="border-width:2px;border-style:solid;border-color:black;">
                <div class="column">
                  Atitudinea personalului la primire
                </div>
                <div class="column">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" name="atitudineprimire" value="Foarte bine" checked>
                      Foarte bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="atitudineprimire" value="Bine">
                      Bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="atitudineprimire" value="Nesatisfacator">
                      Nesatisfăcător
                    </label>
                  </div>
                </div>
                
              </div>
              <div class="columns " style="border-width:2px;border-style:solid;border-color:black;">
                <div class="column">                  
                  Timpul acordat de medicul curant pentru consultația dvs.
                </div>
                <div class="column">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" name="timpacordat" value="Foarte bine" checked>
                      Foarte bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="timpacordat" value="Bine">
                      Bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="timpacordat" value="Nesatisfacator">
                      Nesatisfăcător
                    </label>
                  </div>
                </div>
                
              </div>
              <div class="columns " style="border-width:2px;border-style:solid;border-color:black;">
                <div class="column">                  
                  Calitatea îngrijirilor medicale acordate de medicul curant
                </div>
                <div class="column">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" name="calitatemedic" value="Foarte bine" checked>
                      Foarte bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="calitatemedic" value="Bine">
                      Bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="calitatemedic" value="Nesatisfacator">
                      Nesatisfăcător
                    </label>
                  </div>
                </div>
              </div>
                <div class="columns " style="border-width:2px;border-style:solid;border-color:black;">
                  <div class="column">                  
                    Calitatea îngrijirilor medicale acordate de asistente medicale
                  </div>
                  <div class="column">
                    <div class="control">
                      <label class="radio">
                        <input type="radio" name="calitateasistente" value="Foarte bine" checked>
                        Foarte bine
                      </label>
                      <label class="radio">
                        <input type="radio" name="calitateasistente" value="Bine">
                        Bine
                      </label>
                      <label class="radio">
                        <input type="radio" name="calitateasistente" value="Nesatisfacator">
                        Nesatisfăcător
                      </label>
                    </div>
                  </div>
                </div>
                  <div class="columns " style="border-width:2px;border-style:solid;border-color:black;">
                    <div class="column">                  
                      Calitatea îngrijirilor medicale acordate de infirmiere
                    </div>
                    <div class="column">
                      <div class="control">
                        <label class="radio">
                          <input type="radio" name="calitateinfirmiere" value="Foarte bine" checked>
                          Foarte bine
                        </label>
                        <label class="radio">
                          <input type="radio" name="calitateinfirmiere" value="Bine">
                          Bine
                        </label>
                        <label class="radio">
                          <input type="radio" name="calitateinfirmiere" value="Nesatisfacator">
                          Nesatisfăcător
                        </label>
                      </div>
                    </div>
                  </div>
              
              <div class="columns" style="border-width:2px;border-style:solid;border-color:black;">
                <div class="column">
                  Amabilitatea personalului medical
                </div>
                <div class="column">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" name="amabilitate" value="Foarte bine" checked>
                      Foarte bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="amabilitate" value="Bine">
                      Bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="amabilitate" value="Nesatisfacator">
                      Nesatisfăcător
                    </label>
                  </div>
                </div>
                
              </div>
              <div class="columns" style="border-width:2px;border-style:solid;border-color:black;">
                <div class="column">
                  Disponibilitatea personalului medical
                </div>
                <div class="column">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" name="disponibilitate" value="Foarte bine" checked>
                      Foarte bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="disponibilitate" value="Bine">
                      Bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="disponibilitate" value="Nesatisfacator">
                      Nesatisfăcător
                    </label>
                  </div>
                </div>
                
              </div>
              <div class="columns" style="border-width:2px;border-style:solid;border-color:black;">
                <div class="column">
                  Calitatea meselor servite
                </div>
                <div class="column">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" name="calitatemasa" value="Foarte bine" checked>
                      Foarte bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="calitatemasa" value="Bine">
                      Bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="calitatemasa" value="Nesatisfacator">
                      Nesatisfăcător
                    </label>
                  </div>
                </div>
                
              </div>
              <div class="columns" style="border-width:2px;border-style:solid;border-color:black;">
                <div class="column">
                  Modul de distribuire a hranei
                </div>
                <div class="column">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" name="distribuirehrana" value="Foarte bine" checked>
                      Foarte bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="distribuirehrana" value="Bine">
                      Bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="distribuirehrana" value="Nesatisfacator">
                      Nesatisfăcător
                    </label>
                  </div>
                </div>
                
              </div>
              <div class="columns" style="border-width:2px;border-style:solid;border-color:black;">
                <div class="column">
                  Îngrijirea post-operatorie
                </div>
                <div class="column">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" name="ingrijirepostoperatorie" value="Foarte bine" checked>
                      Foarte bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="ingrijirepostoperatorie" value="Bine">
                      Bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="ingrijirepostoperatorie" value="Nesatisfacator">
                      Nesatisfăcător
                    </label>
                  </div>
                </div>
                
              </div>

              <div class="field has-addon">
                <label class="label">La serviciile medicale de pe alte secții, ați fost însoțit de:</label>
                <div class="control is-expanded">
                  <label class="radio">
                    <input type="radio" name="insotitoraltesectii" value="Personal sanitar" checked>
                    Personal sanitar
                  </label>
                  <label class="radio">
                  <input type="radio" name="insotitoraltesectii" value="Apartinatori">
                     Aparținători
                  </label>
                  <label class="radio">
                    <input type="radio" name="insotitoraltesectii" value="Ati mers singur" >
                    Ați mers singur
                  </label>

                </div>
              </div>
              <div class="field has-addon">
                <label class="label">În situația în care, pe durata spitalizării a fost necesar transportul dumneavoastră intern între diferite sectoare medicale, v-a fost asigurat, după caz, un suport medical adecvat (brancarde, tărgi)?</label>
                <div class="control is-expanded">
                  <label class="radio">
                    <input type="radio" name="transport" value="DA" checked>
                    DA
                  </label>
                  <label class="radio">
                  <input type="radio" name="transport" value="NU">
                     NU
                  </label>
                  <label class="radio">
                    <input type="radio" name="transport" value="NU A FOST CAZUL">
                    NU A FOST CAZUL
                  </label>

                </div>
              </div>
              <div class="field has-addon">
                <label class="label">În momentul în care ați primit medicamentele, ați fost instruit asupra modului de administrare?</label>
                <div class="control is-expanded">
                  <label class="radio">
                    <input type="radio" name="administraremedicamente" value="DA" checked>
                    DA
                  </label>
                  <label class="radio">
                  <input type="radio" name="administraremedicamente" value="NU">
                     NU
                  </label>
                </div>
              </div>
              <div class="field has-addon">
                <label class="label">Administrarea medicamentelor s-a făcut sub supravegherea asistentei?</label>
                <div class="control is-expanded">
                  <label class="radio">
                    <input type="radio" name="supraveghereadministrare" value="DA" checked>
                    DA
                  </label>
                  <label class="radio">
                  <input type="radio" name="supraveghereadministrare" value="NU" >
                     NU
                  </label>
                </div>
              </div>

              <div class="field has-addon">
                    <label for="provenientemedicatii" class="label">Care este proveniența medicației prescrisă de medicul curant, administrată pe timpul internării dumneavoastră în acest spital?</label>
                        <div class="select is-info">
                            <select name="provenientamedicatie" id="provenientemedicatii">
                               
                                <option value="medicatieasigurata"> Întreaga medicație a fost asigurată de spital </option>
                                <option value="partialdeacasa"> O parte din medicație am adus-o de acasă </option>
                                <option value="partialcumparata"> O parte din medicația prescrisă a fost necesar să o cumpăr pe timpul internării </option>
                                <option value="integralcumparata"> Întreaga medicație mi-am cumpărat-o/am adus-o de acasă </option>

                             
                         
                            </select>
                        </div>
                </div>
              <label class="label mb-2">Care este părerea dumneavoastră despre ambientul spitalului?</label>
              
              <div class="columns mt-2" style="border-width:2px;border-style:solid;border-color:black;">
                <div class="column">
                  Aspectul salonului
                </div>
                <div class="column">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" name="aspectsalon" value="Foarte bine" checked>
                      Foarte bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="aspectsalon" value="Bine">
                      Bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="aspectsalon" value="Nesatisfacator">
                      Nesatisfăcător
                    </label>
                  </div>
                </div>
                
              </div>
              <div class="columns " style="border-width:2px;border-style:solid;border-color:black;">
                <div class="column">
                  Aspectul spațiilor comune (hol, toilete)
                </div>
                <div class="column">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" name="aspectspatii" value="Foarte bine" checked>
                      Foarte bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="aspectspatii" value="Bine">
                      Bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="aspectspatii" value="Nesatisfacator">
                      Nesatisfăcător
                    </label>
                  </div>
                </div>
                
              </div>
              <div class="columns " style="border-width:2px;border-style:solid;border-color:black;">
                <div class="column">
                 Aspectul curții interioare
                </div>
                <div class="column">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" name="aspectcurte" value="Foarte bine" checked>
                      Foarte bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="aspectcurte" value="Bine">
                      Bine
                    </label>
                    <label class="radio">
                      <input type="radio" name="aspectcurte" value="Nesatisfacator">
                      Nesatisfăcător
                    </label>
                  </div>
                </div>
                
              </div>

              <div class="field has-addon">
                <label class="label">Cum apreciați calitatea informațiilor primite pe perioada internării?</label>
                <div class="control is-expanded">
                  <label class="radio">
                    <input type="radio" name="calitateinformatii" value="Foarte bine" checked>
                    Foarte bine
                  </label>
                  <label class="radio">
                  <input type="radio" name="calitateinformatii" value="Bine">
                     Bine
                  </label>
                  <label class="radio">
                    <input type="radio" name="calitateinformatii" value="Satisfacator">
                    Satisfacator
                  </label>

                </div>
              </div>
              <div class="field has-addon">
                <label class="label">Cum apreciați calitatea comunicării cu personalul care v-a acordat îngrijiri? (medici, asistente, infirmiere)</label>
                <div class="control is-expanded">
                  <label class="radio">
                    <input type="radio" name="calitatecomunicare" value="Foarte bine" checked>
                    Foarte bine
                  </label>
                  <label class="radio">
                  <input type="radio" name="calitatecomunicare" value="Bine">
                     Bine
                  </label>
                  <label class="radio">
                    <input type="radio" name="calitatecomunicare" value="Satisfacator">
                    Satisfacator
                  </label>

                </div>
              </div>
              <div class="field has-addon">
                <label class="label">Dacă ar fi necesar să vă reinternați, ați opta pentru același spital?</label>
                <div class="control is-expanded">
                  <label class="radio">
                    <input type="radio" name="reinternare" value="In mod cert da" checked>
                    In mod cert da 
                  </label>
                  <label class="radio">
                  <input type="radio" name="reinternare" value="Probabil da">
                     Probabil da
                  </label>
                  <label class="radio">
                    <input type="radio" name="reinternare" value="Probabil nu">
                    Probabil nu
                  </label>
                  <label class="radio">
                  <input type="radio" name="reinternare" value="Categoric nu">
                    Categoric nu
                  </label>
                </div>
              </div>

              <div class="field has-addon">
                <label class="label">Dacă o altă persoană ar avea nevoie de un serviciu medical disponibil în acest spital, i-ați recomanda să ni se adreseze?</label>
                <div class="control is-expanded">
                  <label class="radio">
                    <input type="radio" name="recomandare" value="DA" checked>
                    DA
                  </label>
                  <label class="radio">
                  <input type="radio" name="recomandare" value="NU">
                    NU
                  </label>
                  <label class="radio">
                    <input type="radio" name="recomandare" value="In nici un caz">
                    în nici un caz
                  </label>

                </div>
              </div>
                <div class="field">
                  <label  class="label">Observații și sugestii referitoare la aspectele pozitive și/sau negative ale îngrijirii medicale și condițiilor hoteliere din timpul spitalizării:</label>
                  <div class="control">
                      <textarea name="observatii" class="textarea" ></textarea>
                  </div>
              </div>
               <input class="is-hidden"  type="text" name="idclinica" value="{{clinica.id}}">
                    <div class="control mt-2 column is-centered">   <button type="submit" class="button is-primary is-centered">TRIMITE FORMULARUL</button></div>
              </form>
            
            </div>



        </div>
    </div>

  </section>



  </body>
</html>