<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Completare chestionar</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  
</head>
<body>

  <main>
    <div class="notification is-success is-light">
    <strong>Răspunsurile dumneavoastră au fost recepționate! Vă mulțumim pentru colaborare!</strong> 
    </div>
   
  </main>
</body>
</html>