
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Raport programari</title>
    <script src="{{ asset('assets/app.js') }}"></script>
    <link rel="stylesheet" href="./bulma.css">
  </head>
  <body>
  <section class="section">

    <div class="columns is-centered">
        <div class="column ">
       
            Raport programari online in data: {{data}}
        </div>
    </div>

  </section>
  </body>
</html>

