
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Raport programari</title>
 
    <link rel="stylesheet" href="./bulma.css">
    <style>
      .anulat {

          text-decoration: line-through;
        }
      
    </style>
  </head>
  <body>
  <section class="section">
    <div class="content ml-2 ">
      <h4> {{numeclinica}}</h4>
  </div>
    <div class="columns  ">
        <div class="column ">
       <div class="content ml-6 ">
           <h5> Raport programari online in intervalul: {{data}} - {{datastop}}</h5>
       </div>

            <table class="table is-narrow ">
             <thead>
                <tr>
                  <th>Data</th>
                  <th>Cabinet</th>
                   <th>Medic</th>
                  <th>Nume</th>
                  <th>Telefon</th>
                  <th>Ora</th>
                  <th>Tip</th>
                </tr>
            </thead>

              <tbody>
                @each(p in programari)
                  <tr class={{p.tip=='offline'?'is-italic':''}}>
                    <td>{{ p.d }}</td>
                    <td>{{ p.cabinet }}</td>
                     <td>{{ p.medic }}</td>
                    <td class={{p.stare=='anulata'?'anulat':''}}>{{ p.nume }}</td>
                    <td>{{ p.telefon }}</td>
                    <td>{{ p.orastart }}</td>
                    <td>{{ p.tip }}</td>
                    
                    
                  </tr>
                @end
               </tbody> 
            </table>
        </div>
    </div>

  </section>
  </body>
</html>

