
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Raport programari</title>
    <script src="{{ asset('assets/app.js') }}"></script>
    <link rel="stylesheet" href="./bulma.css">
  </head>
  <body>
  <section class="section">

    <div class="columns is-centered">
        <div class="column ">
       <div class="content ml-2">
           <h5> Raport programari online in data: {{data}} </h5>
       </div>

            <table class="table is-narrow">
             <thead>
                <tr>
                
                  <th>Cabinet</th>
                   <th>Medic</th>
                  <th>Nume</th>
                  <th>Telefon</th>
                  <th>Ora</th>

                </tr>
            </thead>

              <tbody>
                @each(p in programari)
                  <tr>

                    <td>{{ p.cabinet }}</td>
                     <td>{{ p.medic }}</td>
                    <td>{{ p.nume }}</td>
                    <td>{{ p.telefon }}</td>
                    <td>{{ p.orastart }}</td>
                    
                  </tr>
                @end
               </tbody> 
            </table>
        </div>
    </div>

  </section>
  </body>
</html>

