<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solicitare programare online</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./bulma.css">
  
</head>
<body>

  <main>
    <div class="container is-max-desktop">
      <div class="notification is-success is-light">
        Va multumim si va invitam sa va consultati casuta de e-mail(inclusiv in Spam) in care veti primi linkul catre sectiunea aferenta solicitarii dumneavoastra!
      </div>
    </div>

   
  </main>
</body>
</html>