<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Programari online SMU Pitesti</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">

</head>
<body>

  <main>
    <div>
      <h4 class="title"> Buna ziua, {{nume}} </h4>
      <p>Va multumim ca folositi serviciul nostru de programare la consultatii de la distanta (online) si va informam ca a fost confirmata rezervarea dumneavoastra pentru data <strong>{{data}}</strong> de la ora <strong>{{orastart}}</strong> la <strong>{{medic}}({{grad}})</strong>.</p>
      <p>Va reamintim ca trebuie sa aveti asupra dumneavoastra documentele necesare (card asigurat sau dovada inlocuitoare si bilet de trimitere)!</p>
      <p> <a href="http://ionjianu.smupitesti.org/pol/#/programari/{{token}}/anulare">Apasati aici</a> pentru a fi redirectionati catre sectiunea de ANULARE a programarii daca doriti sa renuntati la serviciul medical rezervat! </p>
    </div>
  </main>
</body>
</html>