<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A Modern Web Framework For Node.js</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">

</head>
<body>

  <main>
    <div>
      <h4 class="title"> Buna ziua, {{nume}} </h4>
      <p>Va multumim ca folositi serviciul nostru de programare la consultatii de la distanta (online)</p>
      <p> <a href="http://ionjianu.smupitesti.org/pol/#/programari/{{hash}}"> Apasati aici </a> pentru a fi redirectionati catre sectiunea de programari online a site-ului nostru! </p>
    </div>
  </main>
</body>
</html>